.a5{text-decoration: none;
    margin-left: 300px;
    color: rgba(0, 128, 0, 0.854);
    font-size: 55px;
 }
 .a2:hover{
    color: rgba(0, 128, 0, 0.854);
 }
 .a1{
    margin-left: 300px;
    font-size: 17px;
    color: #212934;
 }

 .a2{
    margin-left: 70px;
    font-size: 17px;
    color: #212934;
 }
 .a3{
    margin-left: 70px;
    font-size: 17px;
    color: #212934;
 }
 .a4{
    margin-left: 70px;
    font-size: 17px;
    color: #212934;
 }

 .a1:hover{
    color: rgba(0, 128, 0, 0.721);
 }

 .a2:hover{
    color: rgba(0, 128, 0, 0.721);
 }

 .a3:hover{
    color: rgba(0, 128, 0, 0.721);
 }
 .a4:hover{
    color: rgba(0, 128, 0, 0.721);
 }
 .a5:hover{
    color: rgba(0, 128, 0, 0.721);
 }

 .img1{
    margin-left: 600%;
    height:30px;
    width: 30px;
 }
 .img2{
    margin-left: 620%;
    height: 30px;
    width: 30px;
 }
 .img3{
    margin-left: 640%;
    height: 30px;
    width: 30px;
 }

 /* Nav */

 .h1contact{
    
    text-align: center;
 }
 .pprodient{
    text-align: center;
    
 }
 .maindiv{
    width: 100%;
    height: 200px;
    background-color: #e9eef5;
 }
 iframe{
    height: 300px;
    width: 100%;
 }
 .sec6{ 
    background-color: #ffff;
    width: 100%;
    height: 600px;
}
.input15{
    margin-left: 43%;
    width: 500px;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.input15:hover{
    background-color: white;
    border: 1px solid #e8e8e8;
}
.input11{
    margin-left: 5%;
    width: 500px;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.input11:hover{
    background-color: white;
    border: 1px solid #e8e8e8;
}
.Name{  font-size: 18px;
    margin-left: 43%;
}
.email{  font-size: 18px;
    margin-left: 5%;
}

.input12{
    margin-left: 21%;
    width: 1035px;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.input12:hover{
    background-color: white;
    border: 1px solid #e8e8e8;
}
.subject{
    font-size: 18px;
    margin-left: 21%;
}
.input13{
    height: 200px;
    margin-left: 21%;
    width: 1035px;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.input13:hover{
    background-color: white;
    border: 1px solid #e8e8e8;
}
.Message{
    font-size: 18px;
    margin-left: 21%;
}
.buttonlet{
    margin-left: 80%;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 128, 0, 0.774);
    height: 40px;
    width: 100px;
    border: none;
}

       /* footer */
.sec3{
    background-color: #212934;
    width: 100%;
    height: 700px;
}
.h1Zayy{
    display: inline-block;
    margin-left: 34%;
    color: #59ab68;
}
.h1pro{
    display: inline-block;
    margin-left: 12%;
    color: #aeb5c5;
}
.h1further{
    display: inline-block;
    color: #aeb5c5;
}
.divgic{
    display: inline-block;
    margin-left: 34%;
    background-color: #2d343f;
    height: 1px;
    width: 420px;
}
.divgic1{
    display: inline-block;
    margin-left: 12%;
    background-color: #2d343f;
    height: 1px;
    width: 420px;
}
.divgic2{
    display: inline-block;
    background-color: #2d343f;
    height: 1px;
    width: 420px;
}
.map1{
    height: 20px;
    width: 20px;
}
.pp1{
    margin-left: 33%;
    font-size: 18px;
    color: #cfd6e1;
}
.phone1{
    height: 20px;
    width: 20px;
}
.pp2{
    margin-left: 33%;
    font-size: 18px;
    color: #cfd6e1;
}
.pp2:hover{
    color: rgba(0, 128, 0, 0.822);
}
.pp3{
    margin-left: 13%;
    font-size: 18px;
    color: #cfd6e1;
}
.pp3:hover{
    color: rgba(0, 128, 0, 0.822);
}

.pp4{
    font-size: 18px;
    color: #cfd6e1;
}
.pp4:hover{
    color: rgba(0, 128, 0, 0.822);
}
.divgic11{
    margin-left: 10%;
    height: 1px;
    background-color: #2d343f;
    width: 1380px;
}
.facebook{
    height: 40px;
    width: 40px;
}
.divface{
    background-color: #212934;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #212934e3;
}
.divface:hover{
    transition: .5s;
    background-color: white;
}
.col-fi{
    margin-left: 10%;
    display: flex;
}
.divinsta{
    background-color: #212934be;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #212934be;
}
.divinsta:hover{
    transition: .5s;
    background-color: white;
}
.insta{
    margin-left: 10%;
    height: 40px;
    width: 40px;
}

.divtwitter{
    background-color: #212934be;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #212934be;
}
.twitter{
    margin-left: 10%;
    height: 40px;
    width: 40px;
}
.divtwitter:hover{
    transition: .5s;
    background-color: white;
}
.input10{
    border: 1px solid #e8e8e8;
    border-color: #2d343f !important;
    background-color: #212934be;
}
.input10:hover{
    color: white;
    background-color: #212934be;
}
.buttonsub{
    font-size: 18px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: rgba(255, 255, 255, 0.555);
    background-color: #59ab6e !important;
    border-color: #56ae6c !important;
    height: 40px;
    width: 150px;
}
